<!DOCTYPE html>
<html>
<head>

  <title> Login </title>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8" />

  <link rel="stylesheet" type="text/css" href="css/login.css">
    <link rel="stylesheet" type="text/css" href="css/fonts/font-awesome/css/font-awesome.css">



</head>
<body id="popupContainer">


  <!-- Mixins-->
<!-- Pen Title-->



<div class="container">
  <div class="card"></div>
  <div class="card">
    <h1 class="title">Acceso</h1>
    <form>
      <div class="input-container">
        <input type="text" id="user" required="required" ng-model="user" />
        <label for="user">Usuario</label>
        <div class="bar"></div>
      </div>
      <div class="input-container">
        <input type="password" id="pass" required="required" ng-model="pass"/>
        <label for="pass">Clave</label>
        <div class="bar"></div>
      </div>
      <div class="button-container">
        <button ng-click="login($event)" id="botonLogin">

          <span ng-hide="loadingLogin">Iniciar Sesión</span>
          <img ng-show="loadingLogin" src="img/loading.gif" width="20" height="20">

        </button>
      </div>
      <div class="footer" style="margin-left: 20px; margin-right: 20px;"><div ng-show="errorLogin" href="#" style="padding: 5px; color:white; background-color: red; border-radius: 20px">UPS. Datos Incorrectos por favor verifique.</div></div>
    </form>
  </div>
  <div class="card alt">
    <div class="toggle" ng-click="openRegistro()"></div>
    <h1 class="title">Registrar
      <div class="close" ng-click="closeRegistro()"></div>
    </h1>
    <form>
      <div class="input-container">
        <input type="text" id="reguser" ng-model="reguser" required="required"/>
        <label for="reguser">Usuario</label>
        <div class="bar"></div>
      </div>
      <div class="input-container">
        <input type="password" id="regpass" ng-model="regpass" required="required"/>
        <label for="regpass">Clave</label>
        <div class="bar"></div>
      </div>
      <div class="input-container">
        <input type="password" id="regpass2" ng-model="regpass2" required="required"/>
        <label for="regpass2">Repite Clave</label>
        <div class="bar"></div>
      </div>
      <div class="button-container">
        <button ng-click="register($event)" id="botonRegister">

          <span ng-hide="loadingRegister">Registar</span>
          <img ng-show="loadingRegister" src="img/loading.gif" width="20" height="20">

        </button>
        
      </div>
      
      

    </form>
  </div>

</div>


</body>
</html>