<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Andres Sistema Administrador</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="all,follow">
    <!-- Bootstrap CSS-->
    <link rel="stylesheet" href="vendor/bootstrap/css/bootstrap.min.css">
    <!-- Fontastic Custom icon font-->
    <link rel="stylesheet" href="css/admin/css/fontastic.css">
    <!-- Font Awesome CSS-->
    <link rel="stylesheet" href="vendor/font-awesome/css/font-awesome.min.css">
    <!-- Google fonts - Poppins -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,700">
    <!-- theme stylesheet-->
    <link rel="stylesheet" href="css/admin/css/style.default.css" id="theme-stylesheet">
    <!-- Custom stylesheet - for your changes-->
    <link rel="stylesheet" href="css/admin/css/custom.css">
    <!-- Favicon-->
    <link rel="shortcut icon" href="favicon.png">
    <!-- Tweaks for older IEs--><!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->

<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.14.1/moment.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-moment/1.2.0/angular-moment.js"></script>

  </head>
  <body>
    <div class="page home-page">
      <!-- Main Navbar-->
      <header class="header">
        <nav class="navbar">
          <!-- Search Box-->
          <div class="search-box">
            <button class="dismiss"><i class="icon-close"></i></button>
            <form id="searchForm" action="#" role="search">
              <input type="search" placeholder="What are you looking for..." class="form-control">
            </form>
          </div>
          <div class="container-fluid">
            <div class="navbar-holder d-flex align-items-center justify-content-between">
              <!-- Navbar Header-->
              <div class="navbar-header">
                <!-- Navbar Brand --><a href="index.html" class="navbar-brand">
                  <div class="brand-text brand-big"><span>Sistema </span><strong> de Gestión</strong></div>
                  <div class="brand-text brand-small"><strong>SG</strong></div></a>
                <!-- Toggle Button--><a id="toggle-btn" href="#" class="menu-btn active" ng-click="mini($event)"><span></span><span></span><span></span></a>
              </div>
              <!-- Navbar Menu -->
              <ul class="nav-menu list-unstyled d-flex flex-md-row align-items-md-center">
              
                <!-- Logout    -->
                <li class="nav-item"><a href="http://localhost/andresPrueba/" class="nav-link logout">Cerrar Sesión<i class="fa fa-sign-out"></i></a></li>
              </ul>
            </div>
          </div>
        </nav>
      </header>
      <div class="page-content d-flex align-items-stretch">
        <!-- Side Navbar -->
        <nav class="side-navbar">
          <!-- Sidebar Header-->
          <div class="sidebar-header d-flex align-items-center">
            <div class="avatar"><img src="img/avatar-1.jpg" alt="..." class="img-fluid rounded-circle"></div>
            <div class="title">
              <h1 class="h4">{{nombre | uppercase}}</h1>
              <p>Usuario</p>
            </div>
          </div>
          <!-- Sidebar Navidation Menus--><span class="heading">Menú</span>
          <ul class="list-unstyled">
            <li> <a href="" ng-click="abrirListado()"><i class="icon-grid"></i>Listado</a></li>
            
            <li class="active"> <a href=""> <i class="icon-padnote"></i>Registrar Tarea </a></li>
        </nav>
        <div class="content-inner">
          <!-- Page Header-->
          <header class="page-header">
            <div class="container-fluid">
              <h2 class="no-margin-bottom">Registrar Ejecución de Tarea</h2>
            </div>
          </header>
          <!-- Breadcrumb-->
          <div class="breadcrumb-holder container-fluid">
            <ul class="breadcrumb">
              <li class="breadcrumb-item"><a href="" ng-click="abrirListado()">Inicio </a></li>
              <li class="breadcrumb-item active">Registrar Ejecución</li>
            </ul>
          </div>
          <!-- Forms Section-->
          <section class="forms"> 
            <div class="container-fluid">
              <div class="row">
                <!-- Basic Form-->
                <div class="col-lg-6">
                  
                </div>
                <!-- Horizontal Form-->
                <div class="col-lg-6">
                 
                </div>
                <!-- Inline Form-->
                <div class="col-lg-8">                           
                  
                </div>
                <!-- Modal Form-->
                <div class="col-lg-4">
                </div>
                <!-- Form Elements -->
                <div class="col-lg-12">
                  <div class="card">
                    <div class="card-header d-flex align-items-center">
                      <h3 class="h4">Registrar Ejecución de Tarea</h3>
                    </div>
                    <div class="card-body">
                      <form class="form-horizontal">

                        <div class="form-group row">
                          <label class="col-sm-3 form-control-label">Tarea</label>
                          <div class="col-sm-9 select">
                            <select multiple="" class="form-control" id="comboTarea">
                              <option ng-repeat="item in comboTareas" value="{{item.idTarea}}">{{item.strTarea}}</option>
                            </select>
                          </div>
                        </div>


                        <div class="form-group row">
                          <label class="col-sm-3 form-control-label">Inicio</label>
                          <div class="col-sm-9">
                            <input type="time" class="form-control" id="inicio">
                          </div>
                        </div>

                        
                        <div class="form-group row">
                          <label class="col-sm-3 form-control-label">Fin</label>
                          <div class="col-sm-9">
                            <input type="time" class="form-control" id="fin">
                          </div>

                        </div>
                        <div class="line"></div>

                        <div class="form-group row">
                          <label class="col-sm-3 form-control-label">Duración</label>
                          <div class="col-sm-6">
                            <input type="text" class="form-control" disabled="disabled" id="duracion">
                          </div>
                          <div class="col-sm-3">
                          <div style="float: right;"><input style="cursor: pointer;" type="button" id="calcular" value="Calcular Duración" class="btn btn-warning"></div>
                          </div>
                        </div>

                        <div style="float: right;"><input type="button" style="cursor: pointer;" value="Registrar" class="btn btn-primary" ng-click="registrarTarea()"></div>
                        
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
          <!-- Page Footer-->
          <footer class="main-footer">
            <div class="container-fluid">
              <div class="row">
                <div class="col-sm-6">
                  <p>Andres Pirona &copy; 2017</p>
                </div>
                <div class="col-sm-6 text-right">
                  <p>Design by <a class="external">Andres Pirona</a></p>
                  <!-- Please do not remove the backlink to us unless you support further theme's development at https://bootstrapious.com/donate. It is part of the license conditions. Thank you for understanding :)-->
                </div>
              </div>
            </div>
          </footer>
        </div>
      </div>
    </div>
    <!-- Javascript files-->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="vendor/popper.js/umd/popper.min.js"> </script>
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="vendor/jquery.cookie/jquery.cookie.js"> </script>
    <script src="vendor/jquery-validation/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
    <script src="js/charts-home.js"></script>
    <script src="js/front.js"></script>
  </body>
</html>